annotated-types
anyio
click
colorama
fastapi
h11
httptools
idna
joblib
nltk
numpy
pandas
pydantic
pydantic_core
python-dateutil
python-dotenv
pytz
PyYAML
regex
six
sniffio
starlette
tqdm
typing_extensions
tzdata
uvicorn
watchfiles
websockets
